@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Threshold Setting";
}
@section CustomCss{
    <link rel="stylesheet" type="text/css" href="/css/dinhCss.css" />

}
<!-- -----------------SECTION CONTENT------------------ -->
    <section class="section-content">
      <h1 class="heading-1 mb-5 d-flex align-items-center">
          <img src="/image/cogs-solid.svg" class="heading__icon me-4"/>
        Thiết lập ngưỡng
      </h1>

      <div class="container1">
        <div class="device-list">
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
          <div class="adding-device">
            <figure class="device-figure">
              <img src="/image/avatar.jpg" alt="Động cơ" class="device-img" height="100" />
              <figcaption class="device-name">DHT11</figcaption>
            </figure>
            <div class="description-group">
              <span class="description-title">Mô tả: </span>
              <p class="description-content">
                Đo nhiệt độ, độ ẩm không khí dá dá ádas
              </p>
            </div>
            <form class="form">
              <div class="mb-5">
                <span class="form__label">Thiết lập: </span>
                <div class="threshold">
                  <span class="threshold-max-title">Max</span>
                  <span class="threshold-min-title">Min</span>
                  <span class="threshold__subject">Nhiệt độ (&#8451;): </span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Độ ẩm (%):</span>
                  <input type="number" class="threshold__value" name="temp-max" />
                  <input type="number" class="threshold__value" name="temp-min" />
                  <span class="threshold__subject">Thời gian kiểm tra:</span>

                  <select
                    name="checked_time"
                    class="form__input threshold__checked-time"
                  >
                    <option value="300">5 phút</option>
                    <option value="600">10 phút</option>
                    <option value="1800">30 phút</option>
                    <option value="3600">1 tiếng</option>
                  </select>
                </div>
              </div>
              <button class="button button-primary mx-auto my-0">
                Xác nhận
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
@{
}
