@{
    ViewData["Title"] = "Home Page";
}
@section CustomCss{
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <style type="text/css">
        .pb-3 {
                padding-bottom: 0rem !important;
               }
    </style>
}
<!-- -----------Section home----------->
<section class="home" style="margin-top: 6rem;">
    <h1 class="heading--1 HomeContent d-inline-block">WELCOME TO AEFARM</h1>
</section>
