@{
    ViewData["Title"] = "Home Page";
}
@section CustomCss{
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
}
<!-- -----------Section home----------->
<section class="home">
    <h1 class="heading--1 HomeContent d-inline-block">WELCOME TO AEFARM</h1>
</section>
