.form-group {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.form__label {
    font-size: 1.8rem;
    font-family: "Kumbh Sans", san-serif;
    font-weight: 600;
    flex: 0 0 auto;
    margin-right: 2rem;
}

.form__input {
    padding: 0.5rem 1rem;
    font-family: "Lato", san-serif;
    font-size: 1.6rem;
    border-radius: 0;
}

.button {
    border: none;
    background-color: #7bc36c;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    display: block;
    transition: all 0.2s;
}

.title-icon {
    height: 3rem;
    width: 3rem;
    background-color: red;
    display: inline-block;
}
.heading-1 {
    font-weight: 700;
    font-size: 4rem;
}

.heading-2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.heading-1--primary-dark,
.heading-2--primary-dark {
    color: #025e11;
}
.heading__icon {
    width: 5rem;
    height: 5rem;
}
.section-content {
    padding: 10rem 8rem 20rem 8rem;
}

@media only screen and (max-width: 59.375em) {
    .section-content {
        padding: 10rem 6rem 12rem 6rem;
    }
}

@media only screen and (max-width: 42.1875em) {
    .section-content {
        padding: 10rem 4rem 10rem 4rem;
    }
}

.map {
    width: 100%;
    border: 3px solid #7bc36c;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .map img {
        display: block;
    }

.map__unit {
    font-size: 3rem;
    position: absolute;
    top: 5px;
    left: 1rem;
}

@media (max-width: 991.98px) {
    .map {
        flex: 0 1 33%;
    }
}

.adding-device {
    width: 100%;
    border: 3px solid #7bc36c;
    border-radius: 13px;
    padding: 1.5rem 1rem;
}

    .adding-device .coordinate-group label {
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    .adding-device .coordinate-group input {
        width: 4.5rem;
        padding: 0.1rem 1rem;
        font-size: 1.6rem;
    }

    .adding-device .coordinate-group:not(:last-child) {
        margin-right: 2rem;
    }

    .adding-device .threshold {
        margin-top: -3rem;
        display: grid;
        grid-template-columns: [start-subject] -webkit-max-content [end-subject start-max] auto [end-max start-min] auto [end-min];
        grid-template-columns: [start-subject] max-content [end-subject start-max] auto [end-max start-min] auto [end-min];
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 1.5rem;
        align-items: center;
        justify-items: center;
    }

@media only screen and (max-width: 59.375em) {
    .adding-device .threshold {
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        row-gap: 0.5rem;
    }
}

.adding-device .threshold span {
    font-size: 1.6rem;
}

.adding-device .threshold-max-title {
    grid-column: start-max/end-max;
}

.adding-device .threshold-min-title {
    grid-column: start-min/end-min;
}

.adding-device .threshold__subject {
    justify-self: start;
}

.adding-device .threshold__value {
    width: 5rem;
    padding: 0.1rem 1rem;
    font-size: 1.6rem;
}

.adding-device .threshold__checked-time {
    grid-column: start-max/end-min;
}

@media (max-width: 991.98px) {
    .adding-device {
        flex: 0 1 65%;
    }
}

.devices {
    width: 100%;
    height: 78rem;
    border: 3px solid #7bc36c;
    border-radius: 13px;
    padding: 3rem;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0px -10px 1rem rgba(0, 0, 0, 0.349);
}

    .devices::-webkit-scrollbar {
        width: 10px;
    }

@media only screen and (max-width: 50em) {
    .devices::-webkit-scrollbar {
        width: 8px;
    }
}

.devices::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 13px;
}

.devices::-webkit-scrollbar-thumb {
    background-color: #7bc36c;
    border-radius: 13px;
}

.device-type {
    position: relative;
}

    .device-type::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 20rem;
        height: 1px;
        background-color: #7bc36c;
        bottom: -1rem;
        left: 0;
    }

.device-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    row-gap: 1rem;
}

.device__figure {
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 1.2rem rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    transition: all 0.2s;
}

    .device__figure:hover {
        filter: brightness(80%) opacity(70%);
        cursor: pointer;
    }

.device__img {
    width: 10rem;
    height: 10rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.device__name {
    font-size: 1.8rem;
    font-family: "Lato", san-serif;
    font-weight: 700;
}

.device__coordinates {
    font-size: 1.4rem;
    font-family: "Lato", san-serif;
    font-weight: 700;
    color: #7d7d7d;
}
