/* ----------------------Navigation bar-------------------*/
.nav-bar {
    background-image: linear-gradient( to right bottom, #7bc36c, rgba(2, 94, 17, 0.74) );
    box-shadow: 0 1.5px 3rem rgba(0, 0, 0, 0.555);
}
.nav-logo a {
    font-family: "Reggae One", san-serif;
    font-size: 2rem;
    color: white !important;
    padding-right: 3rem;
    text-decoration: none;
}
.nav-logo--lg-font {
    font-size: 4rem;
}

.nav {
    list-style-type: none;
    display: flex;
    margin-right: auto;
}

.nav__item:hover {
    background-color: #231a1a50;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.nav__link {
    font-size: 1.6rem;
    padding: 2rem 1rem !important;
    display: inline-block;
    color: #231a1a !important;
    transition: all 0.2s;
}

.nav-user {
    padding: 0 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    transition: all 0.2s;
}

.nav-user__avatar {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
}

    .nav-user__avatar img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

.nav-user__name {
    margin-left: 1rem;
    font-size: 2rem;
    color: #231a1a;
}

.nav-user__dropdown {
    width: 100%;
    padding: 0 !important;
    border-radius: 1rem !important;
    overflow: hidden;
    border-top-right-radius: 0 !important;
    box-shadow: 0 1.5px 3rem rgba(0, 0, 0, 0.555);
}

.nav-user__dropdown-item {
    position: relative;
    padding: 2rem 1rem !important;
    font-family: #7bc36c !important;
    font-size: 1.6rem !important;
}

    .nav-user__dropdown-item:hover {
        background-color: transparent !important;
        color: #20b608 !important;
    }
.fixed-top{
    position: fixed;
}
.nav-user__dropdown > *:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    display: inline-block;
    background-color: #7bc36c9c;
    bottom: 0;
    left: 1rem;
}

.nav-user:hover {
    cursor: pointer;
    background-color: #231a1a50;
}

    .nav-user:hover .nav-user__avatar {
        border: 2px solid white;
    }

    .nav-user:hover .nav-user__name {
        color: white;
    }

@media (max-width: 767.98px) {
    .nav-user {
        justify-content: center;
        padding: 2rem 0;
    }
    .fixed-top{
        position: relative !important;
    }
}


/*********************FOOTER******************/

.footer {
    background-image: linear-gradient( to right bottom, #7bc36c 0 15%, #025e11 70% 100% );
    padding: 8rem;
}

    .footer .nav {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2rem;
        align-items: center;
    }

    .footer .nav__link:visited,
    .footer .nav__link:link {
        font-family: "Lato", san-serif;
        display: block;
        text-decoration: none;
        text-align: center;
        color: white !important;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 1.5rem;
        transition: all 0.2s;
    }

    .footer .nav__link:hover,
    .footer .nav__link:active {
        background-color: rgba(255, 255, 255, 0.05);
        transform: translateY(-3px);
    }

.copyright {
    width: 70%;
    text-align: center;
    color: #aaa;
    font-size: 1.4rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}


:root {
    --body-bg: #fafafb;
    --box-bg: #ffffff;
    --main-color: #7bc36c;
    --text-color: #455560;
    --text-second-color: #72849ab3;
    --border-color: #e9e9e9;
    --menu-item-active-bg: rgba(62, 121, 247, 0.1);
    --box-border-radius: 15px;
    --sidebar-size: 300px;
    --sidebar-logo-img-size: 45px;
    --sidebar-logo-size: 80px;
    --profile-image-size: 45px;
    --main-header-height: 80px;
    --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    --darkmode-toggle-size: 20px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5% !important;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 50% !important;
    }
}

@media only screen and (max-width: 50em) {
    html {
        font-size: 37.5% !important;
    }
}

body {
    box-sizing: border-box;
    font-family: "Lato", san-serif !important;
    line-height: 1.6 !important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}

::selection {
    background-color: #7bc36c;
    color: white;
}

/* ------------ULITIES--------------- */

.lg-font {
    font-size: 3.5rem !important;
}

.heading-1 {
    font-weight: 700;
    font-size: 4rem;
}

.heading-2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.heading-1--primary-dark,
.heading-2--primary-dark {
    color: #025e11;
}

.heading__icon {
    width: 5rem;
    height: 5rem;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}
/* ------------BUTTON--------------- */
.button {
    border: none;
    background-color: #025e11;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    display: block;
    transition: all 0.2s;
}

    .button:hover {
        transform: scale(1.05) translateY(-0.3rem);
        box-shadow: 0 3px 5rem rgba(0, 0, 0, 0.418);
    }

    .button:active {
        transform: scale(1) translateY(-0.15rem);
        box-shadow: 0 3px 2rem rgba(0, 0, 0, 0.418);
    }

.title-icon {
    height: 3rem;
    width: 3rem;
    background-color: red;
    display: inline-block;
}

.nav-empty__avatar {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 2px solid transparent;
    transform: all 0.2s;
}

.nav-empty__link {
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: none !important;
    color: black;
}

.nav-empty:hover .nav-empty__avatar {
    border: 2px solid white;
}

.nav-empty:hover .nav-empty__link {
    color: white;
}
