/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*********************FOOTER******************/

.footer {
    background-image: linear-gradient( to right bottom, #7bc36c 0 15%, #025e11 70% 100% );
    padding: 8rem;
}

    .footer .nav {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2rem;
        align-items: center;
    }

    .footer .nav__link:visited,
    .footer .nav__link:link {
        font-family: "Lato", san-serif;
        display: block;
        text-decoration: none;
        text-align: center;
        color: white !important;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 1.5rem;
        transition: all 0.2s;
    }

    .footer .nav__link:hover,
    .footer .nav__link:active {
        background-color: rgba(255, 255, 255, 0.05);
        transform: translateY(-3px);
    }

.copyright {
    width: 70%;
    text-align: center;
    color: #aaa;
    font-size: 1.4rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}