
@{
    ViewData["Title"] = "Output";
}

<div class="section" style="background-color:#EBFCF2;padding-top: 2rem;">
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4 portfolio-container mb-4">
                    <h1>Thiết bị input</h1>
                    <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/Led.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Tên thiết bị</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/ouputdesc.png" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 fs-3" >
                                <p class="text-primary fw-medium mb-2">Chọn loại hình xem thống kê</p>
                                <form class="row">
                                    <div class="col-9">
                                        <select class="form-select form-select-lg mb-3" style="background-color: #FFDBDB;">
                                            <option>chọn loại hình xem thống kê --</option>
                                            <option>Xem thống kê dạng bảng</option>
                                            <option>Xem thống kê dạng biểu đồ</option>
                                        </select>

                                    </div>
                                    <div class="col-3">
                                        <input type="button" value="Tra cứu" class="form-control fs-3" style="background-color: #FF8080;"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row g-4 portfolio-container">
                    <h1>Biểu đồ</h1>
                    <table class="table fs-3">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Id device</th>
                          <th scope="col">UserId</th>
                          <th scope="col">value</th>
                          <th scope="col">Location</th>
                          <th scope="col">Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>ADHHJFHJFHJHFFFF</td>
                          <td>on/off</td>
                          <td>H11</td>
                          <td>2022-03-22-22:00</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>1</td>
                          <td>ADHHJFHJFHJHFFFF</td>
                          <td>on/off</td>
                          <td>H11</td>
                          <td>2022-03-22-22:00</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>1</td>
                          <td>ADHHJFHJFHJHFFFF</td>
                          <td>on/off</td>
                          <td>H11</td>
                          <td>2022-03-22-22:00</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Service End -->
    <!-- /container -->
</div>

